
.board{
    border-collapse: collapse;
}
#board{
    display: inline-block;
}
.wrap{
    margin: 130px auto;
    text-align: center;
}
td{
    font-size: 30px;
    font-weight: 400;
}
a{
    color: black;
}
td.black-cell{
    width: 60px;
    height: 60px;
    background-color: #553333;
    border: solid 1px #000;
}
td.white-cell{
    width: 60px;
    height: 60px;
    background-color: rgb(212, 212, 165);
    border: solid 1px #000;
}

td.rotate{
    transform: rotate(180deg);
}
